{% extends 'work/index.html' %}
{% load static %}

{% block INDEX_TITULO %} 
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}

<!-- work/agregar_work.html -->
<!DOCTYPE html>
<section class="bg-light py-3">
    <div class="container px-3 my-3">
        <div class="text-center mb-3"><html>
            <head>
                <title>Agregar Work</title>
            </head>
            <body>
                <h1>Agregar Work</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Agregar Work</button>
                </form>
            </body>
            </html>
        </div>
    </div>
</section>

<section class="bg-light py-2">
    <div class="container px-2 my-2">
        <div class="mb-2">
            <a class="btn btn-primary" href="{% url 'work:home' %}"> ir atras </a>
        </div>
    </div>
</section><section class="bg-light py-2">
    <div class="container px-2 my-2">
        <div class="mb-2">
            <a class="btn btn-primary" href="{% url 'Home:home' %}"> Menu Principal </a>
        </div>
    </div>
</section>
{% endblock INDEX_CONTENIDO %}