{% extends 'work/index.html' %}
{% load static %}

{% block INDEX_TITULO %} 
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
    {% if objects_list %}

        {% for categoria in objects_list  %}
            <ul> 
                <li>{{ categoria.articulo }}
                    <a class="btn btn-primary" href="{% url 'work:03detail_work' categoria.id %}">Ver Detalle</a>
                    <a class="btn btn-primary" href="{% url 'work:01crear_work' categoria.id %}">Actualizar Work</a>
                    <a class="btn btn-primary" href="{% url 'work:05delete_work' categoria.id %}">ELIMINAR</a>
                </li>
            </ul>
            
        {% endfor %}
        
    {% endif %}

    <a href="{% url 'Home:home' %}"> Menu Principal </a>
{% endblock INDEX_CONTENIDO %}