{% extends 'Home/index.html' %}
{% load static %}

{% block INDEX_TITULO %} 
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post JM</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Blog "El espacio de Juan el mecanico"</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2"> Posteado: Marzo 23, 2023 por Juan Herrera </div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'Home/imagenes/juanmecanico01.jpeg' %}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">Juan, conocido cariñosamente como "Juan el Mecánico", es un apasionado de los automóviles desde temprana edad. Su amor por los autos lo llevó a convertirse en un mecánico experimentado y dedicado. Sin embargo, siempre soñó con llevar su pasión más allá del taller y hacer una diferencia en la comunidad automotriz local.</p>
                            <p class="fs-5 mb-4">Un día, mientras realizaba un servicio en un concesionario, Juan conoció a un emprendedor apasionado llamado Carlos, quien compartió su amor por los vehículos y tenía una visión audaz. Carlos quería fundar una distribuidora de repuestos para autos que brindara soluciones confiables y de alta calidad a los talleres y concesionarios locales. Después de muchas conversaciones y compartir sus sueños, decidir unir fuerzas y así nació Speed​​NPF.</p>
                            <h2 class="fw-bolder mb-4 mt-5">La Trayectoria de Éxito de Speed​​NPF en el Mercado Automotriz</h2>
                            <p class="fs-5 mb-4">Desde sus humildes inicios, Speed ​​NPF ha experimentado un crecimiento notable en el mercado automotriz. Su enfoque en la calidad de los repuestos y el excelente servicio al cliente ha ganado la confianza de numerosos talleres y concesionarios en la región. Además de ofrecer una amplia gama de repuestos para automóviles de diversas marcas y modelos, Speed ​​NPF también se ha destacado por brindar asesoramiento técnico y capacitación a los profesionales del sector.</p>
                            <p class="fs-5 mb-4">La dedicación y pasión de Juan el Mecánico por los automóviles han sido fundamentales para el éxito de la distribuidora. Su conocimiento y experiencia han sido invaluables para ayudar a los clientes a encontrar las piezas adecuadas y resolver problemas complejos. Hoy en día, Speed ​​NPF es reconocida como una de las principales distribuidoras de repuestos en la industria automotriz local, y Juan el Mecánico sigue siendo el alma y el corazón de la empresa.</p>
                        </section>
                    </article>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{% endblock INDEX_CONTENIDO %}