{% extends 'Home/index.html' %}

{% block INDEX_TITULO %}
    Customer
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}

    {% for customer in customers %}
        <h2>{{ customer.nombre }}</h2>
        <p>{{ customer.apellido }}</p>
        <p>{{ customer.nacimiento }}</p>
        <p>{{ customer.dni }}</p>
        <p>{{ customer.numero_customer }}</p>
    {% endfor %}
    
    <a href="{% url 'Home:home' %}">Modificar EN BASE CLASE 22</a>

    <a href="{% url 'Home:home' %}">Ir al menú principal</a>

{% endblock INDEX_CONTENIDO %}