{% extends 'Home/index.html' %}
{% load static %}

{% block INDEX_TITULO %} 
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post EH</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Blog "Ernesto Cabral"</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posteado: Marzo 19, 2019</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{% static 'Home/imagenes/Ernesto02.jpeg' %}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">Ernesto, un apasionado de los autos y la responsabilidad social, encontró una combinación perfecta en Speed ​​NPF. Desde su fundación, Ernesto se aseguró de que la empresa no solo se enfocara en el éxito comercial, sino que también tuvo un impacto positivo en la comunidad y el medio ambiente.</p>
                            <p class="fs-5 mb-4">Speed​NPF se ha comprometido a operar de manera sostenible y responsable. Trabaja con proveedores que comparten los mismos valores éticos y ambientales, asegurándose de que los repuestos que se ofrecen cumplen con altos estándares de calidad y seguridad. Además, la empresa ha implementado programas de reciclaje y reducción de residuos para minimizar su huella ecológica.</p>
                            <h2 class="fw-bolder mb-4 mt-5"> La Contribución de Speed​​NPF en la Comunidad</h2>
                            <p class="fs-5 mb-4">Ernesto y el equipo de Speed​​NPF han sido partícipes activos en proyectos comunitarios que fomentan la educación y el bienestar de las personas. Han colaborado con escuelas técnicas de mecánica automotriz para proporcionar materiales y equipos, ofreciendo oportunidades de capacitación y desarrollo profesional a futuros mecánicos.</p>
                            <p class="fs-5 mb-4">Ernesto está orgulloso de que Speed​NPF sea conocido no solo por la calidad de sus repuestos, sino también por su compromiso con la comunidad y el medio ambiente. A través de su legado de responsabilidad social, la distribuidora ha dejado una huella duradera en la industria automotriz y en la vida de las personas.</p>
                        </section>
                    </article>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
{% endblock INDEX_CONTENIDO %}