{% extends 'Home/index.html' %}
{% load static %}

{% block INDEX_CONTENIDO %}
    <!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>SpeedNPF-Nosotros</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="{% static 'Home/images/favicon.ico' %}" />
            <!-- Bootstrap icons-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="{% static 'Home/css/styles.css' %}" rel="stylesheet" />
        </head>
        <body class="d-flex flex-column">
            <main class="flex-shrink-0">

                <!-- Header-->
                <header class="py-5">
                    <div class="container px-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-xxl-6">
                                <div class="text-center my-5">
                                    <h1 class="fw-bolder mb-3">Siempre brindamos la mejor calidad</h1>
                                    <p class="lead fw-normal text-muted mb-4">Nos preocupamos porque todos los cliente queden satisfechos</p>
                                    <a class="btn btn-primary btn-lg" href="#scroll-target">Nuestra histora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- About section one-->
                <section class="py-5 bg-light" id="scroll-target">
                    <div class="container px-5 my-5">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'Home/imagenes/LuisFernandez03.jpeg' %}" alt="..." /></div>
                            <div class="col-lg-6">
                                <h2 class="fw-bolder">Primeros Pasos</h2>
                                <p class="lead fw-normal text-muted mb-0">Todo inicio con una pequeña distribuidora de repuestos de autos llamada SpeedNPF, cuyo dueño era un apasionado del mundo automotriz, Luis Fernández. Con una trayectoria de más de 35 años, Luis había visto cómo su negocio crecía desde sus humildes comienzos hasta convertirse en una referencia en la industria.

                                    Todo comenzó cuando Luis era apenas un joven entusiasta de los automóviles, trabajando en un pequeño taller de reparación. Observando la necesidad de repuestos de calidad y la dificultad para conseguirlos, emprenda su propio camino. Así, con determinación y el apoyo de su familia, se fundó SpeedNPF.
                                    
                                    El local de SpeedNPF era como un templo para los amantes de los autos. Las estanterías estaban repletas de piezas y componentes de todas las marcas y modelos imaginables. Los clientes sabían que pudieron contar con la experiencia y conocimiento de Luis, quien siempre estaba dispuesto a asesorarlos y encontrar la pieza perfecta para sus vehículos.
                                    
                                    Con el tiempo, el negocio floreció y SpeedNPF se convirtió en el punto de referencia para talleres mecánicos, aficionados y conductores comunes por igual. La reputación de la empresa era impecable, y eso se debía en gran parte al trato cercano y amistoso que recibió Luis a todos sus clientes.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- About section two-->
                <section class="py-5">
                    <div class="container px-5 my-5">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'Home/imagenes/Familia.jpeg' %}" alt="..." /></div>
                            <div class="col-lg-6">
                                <h2 class="fw-bolder">Lo primero siempre es la familia</h2>
                                <p class="lead fw-normal text-muted mb-0"> Sin embargo Luis creyo firmemente que era el momento de involucrar a su familia en el negocio y transmitirles todo lo que había aprendido a lo largo de los años. Sus hijos Pablo y Nicolas, apasionados también por el mundo automotriz, se mostraron especialmente interesados en continuar con la empresa de su padre.

                                    Ellos trabajaron codo a codo con su padre durante el tiempo que Luis necesitó , y poco a poco fueron tomando las riendas de SpeedNPF. Con el tiempo, todo se fue agrandando mas.
                                    
                                    SpeedNPF siguió creciendo bajo el liderazgo de Luis, manteniendo la esencia y los valores que siempre ah inculcado desde el principio. El legado de Luis continuó vivo a través de sus hijos y de todos aquellos que habían sido inspiradores por la pasión y dedicación del fundador.
                                    
                                    Y así, la historia de SpeedNPF se convirtió en un ejemplo de perseverancia, amor por lo que se hace y la importancia de compartir conocimientos y valores para construir un futuro sólido. La pequeña distribuidora de repuestos de autos siguió siendo un referente en la ciudad de Autopista, y la comunidad siempre recordaría con cariño a Luis Fernández, el hombre que hizo realidad su sueño y dejó un legado duradero en la industria automotriz.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Team members section-->
                <section class="py-5 bg-light">
                    <div class="container px-5 my-5">
                        <div class="text-center">
                            <h2 class="fw-bolder">Nuestro equipo</h2>
                            <p class="lead fw-normal text-muted mb-5">Somos una empresa familiar</p>
                        </div>
                        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                            <div class="col mb-5 mb-5 mb-xl-0">
                                <div class="text-center">
                                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'Home/imagenes/LuisFernandez150x150.jpeg' %}" alt="..." />
                                    <h5 class="fw-bolder">Luis Fernandez</h5>
                                    <div class="fst-italic text-muted">Fundador &amp; CEO</div>
                                </div>
                            </div>
                            <div class="col mb-5 mb-5 mb-xl-0">
                                <div class="text-center">
                                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'Home/imagenes/PabloFernandez150x150.jpeg' %}" alt="..." />
                                    <h5 class="fw-bolder">Pablo Fernandez</h5>
                                    <div class="fst-italic text-muted">coCEO</div>
                                </div>
                            </div>
                            <div class="col mb-5 mb-5 mb-sm-0">
                                <div class="text-center">
                                    <img class="img-fluid rounded-circle mb-4 px-4" src="{% static 'Home/imagenes/NicolasFernandez150x150.jpeg' %}" alt="..." />
                                    <h5 class="fw-bolder">Nicolas Fernandez</h5>
                                    <div class="fst-italic text-muted">coCEO</div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </section>
            </main>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="{% static 'Home/js/scripts.js' %}"></script>
        </body>
    </html>
{% endblock INDEX_CONTENIDO %}
