{% extends 'Home/base.html' %}
{% load static %} 

{% block BASE_CONTENIDO %}

    {% block INDEX_TITULO  %}  

    {% endblock INDEX_TITULO  %}

    {% block INDEX_CONTENIDO %}
        
        {% if user.is_authenticated %}
            {{ mensaje }}
            <h3> Bienvenido {{ user.username }}</h3>
        {% endif %}

        {% if user.is_staff %}
            {{ mensaje }}
            <div class="fs-5 text-center fst-italic mt-5">
                <h3> Bienvenido {{ user.username }} /h3>
            </div>
            <div class="row"> 
                <a href="{% url 'admin:index' %}" class="btn btn text-bg-dark">Panel de administracion</a>
            </div>
            <div class="row"> 
                <a href="{% url 'Home:register' %}" class="btn btn text-bg-dark" >Registrar nuevo usuario</a>
            </div>
        {% endif %}

        <!-- Header-->
        <header class="bg-dark py-5">
            {% include 'Home/02header.html' %}
        </header>

        <!-- Features section-->
        <section class="py-5" id="features">
            {% include 'Home/03productosD.html' %}
        </section>

        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            {% include 'Home/04TestimonioCeo.html' %}
        </div>

        <!-- Blog preview section-->
        {% include 'Home/05nblog1.html' %}

    {% endblock INDEX_CONTENIDO %}

{% endblock BASE_CONTENIDO %}