{% extends 'producto/index.html' %}
{% load static %}

{% block INDEX_TITULO %} 
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
    {% if objects_list %}

        {% for categoria in objects_list  %}
            <ul> 
                <li>{{ categoria.articulo }}
                    <a href="{% url 'producto:03detail_producto' categoria.id %}">Ver Detalle</a>
                    <a href="{% url 'producto:01crear_producto' categoria.id %}">Actualizar Producto</a>
                    <a href="{% url 'producto:05delete_producto' categoria.id %}">ELIMINAR</a>
                </li>
            </ul>
            
        {% endfor %}
        
    {% endif %}

    <a href="{% url 'Home:home' %}"> Menu Principal </a>
{% endblock INDEX_CONTENIDO %}