{% extends 'customerx/index.html' %}

{% block INDEX_TITULO %} 
    Crear/Actualizar Cliente
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
<section class="bg-light py-2">
    <div class="container px-2 my-2">
        <div class="mb-2">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Guardar</button>
            </form> 
        </div>
    </div>
</section>

<section class="bg-light py-2">
    <div class="container px-2 my-2">
        <div class="mb-2">
            <a class="btn btn-primary" href="{% url 'customerx:home' %}"> Ir atras </a>
        </div>
    </div>
</section>
<section class="bg-light py-2">
    <div class="container px-2 my-2">
        <div class="mb-2">
            <a class="btn btn-primary" href="{% url 'Home:home' %}"> Menu Principal </a>
        </div>
    </div>
</section>


{% endblock INDEX_CONTENIDO %}