{% extends 'showplus/index.html' %}
{% load static %}

{% block INDEX_TITULO %} 
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
    {% if objects_list %}

        {% for categoria in objects_list  %}
            <ul> 
                <section class="bg-light py-3">
                    <div class="container px-3 my-3">
                        <div class="text-center mb-3">
                            <li>{{ categoria.descripcion }} {{ categoria.precio }} {{ categoria.nombre }} {{ categoria.apellido }}
                                <a class="btn btn-primary" href="{% url 'showplus:03detail_showplus' categoria.id %}">Ver Detalle</a>
                                <a class="btn btn-primary" href="{% url 'showplus:01agregar_showplus' categoria.id %}">Actualizar Producto</a>
                                <a class="btn btn-primary" href="{% url 'showplus:05delete_showplus' categoria.id %}">ELIMINAR</a>
                            </li>
                        </div>
                    </div>
                </section>
            </ul>
            
        {% endfor %}
    {% else %}
        <h1 class="fst-italic "> NO HAY ELEMENTOS </h1>  
    {% endif %}

    <section class="bg-light py-2">
        <div class="container px-2 my-2">
            <div class="mb-2">
                <a class="btn btn-primary" href="{% url 'showplus:home' %}"> ir atras </a>
            </div>
        </div>
    </section><section class="bg-light py-2">
        <div class="container px-2 my-2">
            <div class="mb-2">
                <a class="btn btn-primary" href="{% url 'Home:home' %}"> Menu Principal </a>
            </div>
        </div>
    </section>
{% endblock INDEX_CONTENIDO %}